{:source-paths
 ["src/main"]

 :dependencies
 [[reagent "1.1.1"]
  [cljs-http "0.1.46"]]

 :builds
 {:weebmanager
  {:target :react-native
   :init-fn weebmanager.core/init
   :dev {:closure-defines {weebmanager.settings/default-username "funkschy"}}
   :output-dir "app"
   :js-options {:js-package-dirs ["node_modules"]}}}}
